body {
    background-color: pink;
}
.container {
   width: 80%;
   margin-inline: auto;
   position: relative;
   background-color: rgba(238, 130, 238, 0.664);
}
.cat-outside {
   width: 100px;
   position: sticky;
   top: 100px;
   left: 50px;
}
.text-box {
   width: 92%;
   background-color: white;
   padding: 40px;
   border-radius: 10px;
}
.kitty {
   width: 250px;
   float: right;
}
.bottom-kitty {
   width: 200px;
   float: left;
}
.spacer {
   height: 200vh;
}