* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
} */
.face {
    height: 400px;
    width: 400px;
    border: 1px solid yellow;
    border-radius: 50%;
    background-color: rgb(243, 216, 43);
}
.mouth {
    height: 75px;
    width: 200px;
    background-color: brown;
    border-radius: 0 0 50% 50%;
    position: absolute;
    top: 250px;
    left: 100px;
}
.left-eye, .right-eye {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 70px;
}
.left-eye {
    left: 225px;
}
