.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #d44190;
}
.button {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    padding: 20px 30px;
    color: #000;
    position: relative;
    z-index: 1;
    border: 1px solid black;
    overflow: hidden;
}
/* .button:hover {
    background-color: red;
} */
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: 1.5s ease-in-out;
}
.button:hover::before {
    left: 0;
}
