body {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-areas: 'hd hd hd'
                        'nv mn ad'
                        'ft ft ft';
}
.red-box {
    border: 2px solid red;
    padding: 25px;
}
header {
    grid-area: hd;
}
.navigation {
    grid-area: nv;
}
main {
    grid-area: mn;
}
.advertisement {
    grid-area: ad;
}
footer {
    grid-area: ft;
}