*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 20px;
}
.container-1, .left, .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container,.right .container-3, .right .popular-post{
    border: 1px solid gray;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    width: 100%;
}
.blog-image img {
    width: 100%;
}
.content {
    margin: 10px;
}
.content h2 {
    font-size: 1.2rem;
}
.description {
    padding-block: 10px;
    font-size: 0.9rem;
}
.date {
    color: rgb(95, 93, 93);
}
.detailed {
    padding-block: 10px;  
}
.read-more {
    display: inline-flex;
}
.read-more button {
    padding: 10px;
}
.comment {
    display: inline-flex;
}
.post {
    padding-block: 5px;
    background-color: rgb(194, 194, 194);
}
.post p {
    padding: 10px;
}
.image-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image-content img {
    width: 60px;
    height: 60px;
    padding: 10px;
}
.img-cont {
    padding-left: 10px;
}
.des {
    font-size: 0.85rem;
}
@media screen and (min-width:768px){
    .container-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .left {
        width: 65%;
    }
    .right {
        width: 30%;
    }

}
