.container {
    height: 400px;
    border: 2px solid red;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    gap: 20px 40px;
    align-content: space-around;
}
.box {
    border: 2px solid green;
    width: 70px;
}